@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* *:focus {
  outline: var(--color-text-base) dashed;
} */

@layer base {
  :root {
    /* colors */
    --color-bg-base: #f5f5f5;
    --color-text-base: #222221;
    /* fonts */
    --font-size-link-base: 13px;
    --font-line-height-base: 19px;

    /* --color-text-base: #333333;
    --color-text-inverted: #dddddd;
    --color-fill: #afc0d8;
    --color-fill-inverted: #0c1e36;
    --color-button-accent: #350edf;
    --color-button-accent-hover: #1a0e50;
    --font-line-height-base: 20px; */
  }
  .theme-contrast {
    /* --color-bg-base: #f5f5f5;
    --color-text-base: #222221; */
    /* --color-text-base: #eeeeee; */
    /* --color-text-inverted: #000000;
    --color-fill: #000000;
    --color-fill-inverted: #ffffff;
    --color-button-accent: #eeeeee;
    --color-button-accent-hover: #aaaaaa; */
  }
  .theme-font-size-bigger {
    /* --font-size-base: 14px;
    --font-line-height-base: 25px; */
  }
  .theme-font-size-biggest {
    /* --font-size-base: 16px;
    --font-line-height-base: 30px; */
  }
}

@layer components {
  /*   focus   */
  .primary-focus {
    @apply outline-dashed outline-2 outline-primary-color;
  }

  /*   navigation   */
  /* link-default */
  .link-default {
    @apply font-light text-linkBase text-skin-base focus:primary-focus;
  }
  .link-default::after {
    content: '';
    background-color: var(--color-text-base);
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 1px;
    opacity: 0;
    scale: 0;
    transition: all ease-out 100ms;
  }
  .link-default:hover::after {
    opacity: 1;
    scale: 1;
  }

  /* link-active */
  .link-active {
    @apply font-normal cursor-default text-linkBase text-skin-base;
  }
  .link-active::after {
    content: '';
    background-color: var(--color-text-base);
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 3px;
  }

  .desktop-container {
    @apply w-[1140px] mx-auto;
  }

  .submenu-container {
    @apply py-4 rounded-b-base rounded-r-base bg-skin-main-bg drop-shadow-big;
  }

  .skip-link {
    @apply absolute z-10 w-1 h-1 p-8 overflow-hidden font-normal top-6 left-[-10000px] bg-skin-main-bg drop-shadow-big rounded-base primary-focus focus:left-6 focus:w-auto focus:h-auto;
  }
}
